<div class="problem-view">
  <h3 class="title">Problem # {{problemId}}</h3>
  <p class="description">{{problems[problemId].description}}</p>
  <pre><code>{{problem}} </code></pre>
  <textarea class="col-md-12" name="" id="" cols="5" rows="5" #answer></textarea>
  <div>
    <button class="btn btn-primary check-btn" (click)="checkAnswerClick(answer.value)">Check Answer</button>
    <p *ngIf="isShowResult" class="result">
      <!--Animation用に表示するDOMを切り替える  -->
      <span *ngIf="isCorrect" [@enterAnimation]>{{message}}<a *ngIf="isCorrect" [routerLink]="['/problem',nextProblemId]" (click)="answer.value=''">Next Problem</a></span>
      <span *ngIf="!isCorrect" [@enterAnimation]>{{message}}<a *ngIf="isCorrect" [routerLink]="['/problem',nextProblemId]" (click)="answer.value=''">Next Problem</a></span>
    </p>
  </div>
</div>
